.feature {
  margin-bottom: 25px;
}
.feature i {
  border: 1px solid rgb(255, 9, 17);
  font-size: 45px;
  border-radius: 100%;
  padding: 12px 12px;
  color: rgb(255, 9, 17);
}
.feature i:hover {
  background-color:rgb(255, 9, 17) ;
  color: white;
  /* transition: 0.3s; */
}
.heading {
  width: 85%;
  /* margin-top: 10px; */
  margin: auto;
  text-align: center;
}
.heading h5:hover {

  color: rgb(255, 9, 17);
}



