.rating li {
    list-style-type: none;
}


.testimonialBody{
    max-width: 80%;
    margin: auto;
    background: #1F1F33;
}
.owl-carousel {
    display: none;
    touch-action: manipulation;
    width: 100%;
    z-index: 1;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-stage {
    width: auto;
    overflow: hidden;
    margin: auto;
}

.owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-item {
    min-height: 1px;
    float: left;
}

.testimonial {
    background: #fff;
    text-align: center;
    padding: 30px 30px 50px;
    margin: 22px 15px 100px;
    position: relative;
    border: transparent;
}

.testimonial:before,
.testimonial:after {
    content: "";
    border-top: 42px solid #fff;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.testimonial:after {
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}

.testimonial .icon {
    display: inline-block;
    font-size: 58px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.icon {
    padding: 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    background-color: gray;
    border-radius: 50px;
    border: 1px dashed var() !important;
}

.testimonial .description {
    font-size: 15px;
    color: #777;
    text-align: left;
    margin-bottom: 30px;
    opacity: 0.8;
}

.testimonial .testimonial-content {
    width: 100%;
    position: absolute;
    left: 0;
}

.testimonial .pic {
    display: inline-block;
    border: 2px solid #fff;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #ea1d25;
    overflow: hidden;
    z-index: 1;
    position: relative;
}


.testimonial .title {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.testimonial .post {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.mySwiper {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    overflow: hidden;
    padding: 0 0 6% 0 !important;
    /* background: orangered; */
}

.testimonial .pic img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 250px) {
    .mySwiper {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (min-width: 450px) {
    .mySwiper {
        width: 100%;
        max-width: 400px;
    }
    .testimonialBody{
        width: 90%;
    }
}

@media screen and (min-width: 680px) {
    .mySwiper {
        width: 100%;
        max-width: 680px;
    }
}

@media screen and (min-width: 1024px) {
    .mySwiper {
        width: 100%;
        max-width: 1024px;
    }
}