.one {
    margin-top: 4% !important;
    width: 90%;
    margin: auto;
    text-align: end;
    list-style-type: none;
    display: flex;
    font-size: 20px;
    /* font-weight: bold; */
    flex-direction: row;
  }
  
  .mainPagination {
    float: right !important;
  }
  
  @media screen and (max-width: 806px) {
    .mainPagination {
      clear: both !important;
      width: 250px;
      margin: auto;
      /* background: green; */
    }
  }
  
  .two {
    color: black;
    list-style-type: none;
    margin-left: 4px;
    margin-right: 4px;
    /* padding: 5px 9px; */
    margin-top: -6px;
    text-align: center;
    width: 35px;
  
    /* border-radius: 35px; */
    color: black;
    /* border: 1px solid black; */
    background-color: #EAF2FB;
    list-style-type: none;
    background-color: #EAF2FB;
    
  }
  
  /* .three {
    margin-left: 4px;
    margin-right: 4px;
    padding: 5px 9px;
    margin-top: -6px;
    text-align: center;
    width: 35px;
    color: black;
    background-color: #EAF2FB;
    list-style-type: none;
    background-color: red;
  } */

  .select{
    background-color: red;
  }
  /* .two:hover {
    background-color: red;
    border: 1px solid black;
  } */
  .three:hover {
    color: black;
  }
  
  .four  {
    padding: 0px 4px;
    border: 1px solid black;
    list-style-type: none;
    
  }
  .four:hover .three{
    background-color: green;
  }
  
  .icon {
  
    width: 80px;
    /* border-radius: 80px; */
    padding: 4px 5px;
    color: black;
    background-color: #EAF2FB;
    font-size: 120%;
  }
  
  /* .icon:hover {
    background-color: #318398;
  } */